
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://img.directindustry.com/images_di/ads/28301/hd/38477.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://img.directindustry.com/images_di/ads/5610/hd/36813.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://img.directindustry.com/images_di/ads/30583/hd/37501.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<!-- Another variation with a button -->
<h1><center>Every great purchase starts here!</center></h1>

<div class="container">

    <div class="col">
      <form>
      <fieldset class="form-group">
        <label for="exampleInputEmail1" class="bmd-label-static"><img src="https://img.icons8.com/small/16/000000/search.png"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Brand.. Model.. Keyword">
        <span class="bmd-help">Search amongst 560,407 products</span>
      </fieldset>
      </form>
    </div>

</div>
<div class="container">
  <div class="rowz">
    <div class="col">
      <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Collapsible Group Item #1
          <i class="fas fa-angle-down rotate-icon"></i>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    </div>

    <div class="col">
      Third, but first
    </div>
  </div>
</div>

<br>
<div class="main-title"><span>New products</span></div>
<div class="container">
  <div class="rowz">
    <div class="col">
      <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://img.directindustry.com/images_di/photo-mg/197246-14113931.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://img.directindustry.com/images_di/photo-mg/5788-140381007.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://img.directindustry.com/images_di/photo-mg/68287-14004911.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://img.directindustry.com/images_di/photo-mg/40600-13968139.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://img.directindustry.com/buyingguide/di/en/42.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div></div>

  </div>
  <br>
  <div class="main-title"><i class="fas fa-briefcase"></i><span> Premium Membership</span></div>
    <div class="container">
    </div>
  </div>
  <div class="logo-slider">
  	<div class="logo-slide-track">
  		<div class="slide">
  			<img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/square_4100/nodejslogo.png" height="100" width="100" alt="AndelaLogo" />
  		</div>
      	<div class="slide">
  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCwCT50XTjhhqfQ3aUdFPKUX4rv27jTtdnHQWFpH0F5gBUn4Anlg" height="100" width="100" alt="Breather logo" />
  		</div>
      	<div class="slide">
  			<img src="https://avatars.githubusercontent.com/u/4223" height="100" width="100" alt="Bluebat Logo" />
  		</div>
      <div class="slide">
  			<img src="https://www.brandcrowd.com/gallery/brands/pictures/picture13714803355006.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="http://codemen.com/wp-content/uploads/2016/09/ReactJS.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://huseyindemirtas.net/wp-content/uploads/2013/12/css3-logo.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://cdn.auth0.com/blog/logos/Full_TypeScript_Logo.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="http://kursuswebdesign.org/wp-content/uploads/2017/04/logo-2.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://ismailfedakar.files.wordpress.com/2016/10/asp_net_.png?w=640" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/samidip/images/1009061/Mark_vertical.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://www.anyware.co.il/Uploads/2017/11/infragistics_boxshot_1.png" height="100" width="100" alt="Brika Logo" />
  		</div>

  	</div>
  </div>
